@charset "utf-8";

/*****************************
          BASIC
*****************************/

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    background: #f8f5f2 url("../img/bg-index-container.png");
}

img {
    width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

.wrap {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

/*****************************
          HEADER
*****************************/

.main-header {
    font-size: 16px;
    line-height: 20px;
    min-height: 70px;
    margin-bottom: 55px;
    color: #ffffff;
    background-color: #000000;
}

.header-nav {
    float: left;
    max-width: 720px;
}

.header-nav ul {
    font-size: 0;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-nav li {
    font-size: 16px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.header-nav a {
    display: block;
    padding: 25px 20px;
    text-decoration: none;
    color: #ffffff;
}

.header-nav span {
    display: block;
    padding: 25px 20px;
    cursor: default;
    color: #ffffff;
}

.header-nav a:hover {
    background-color: #242424;
}

.header-nav .header-logo {
    float: left;
    width: 111px;
    height: 24px;
    padding: 23px 20px;
}

.header-nav .header-logo:hover {
    background-color: transparent;
}

.header-nav .header-logo img {
    width: 111px;
    height: 24px;
}

.header-nav .current::after {
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    height: 3px;
    content: "";
    background-color: #ffffff;
}

.user-block {
    font-size: 0;
    float: right;
    max-width: 220px;
}

.login-btn {
    font-size: 16px;
    position: relative;
    display: inline-block;
    padding: 25px 20px;
    padding-left: 50px;
    vertical-align: top;
    text-decoration: none;
    color: #ffffff;
}

.login-btn::before {
    position: absolute;
    top: 27px;
    left: 23px;
    width: 18px;
    height: 16px;
    content: "";
    opacity: 0.3;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -50px -402px;
}

.login-btn:hover::before {
    opacity: 1;
}

.login-btn:hover {
    background-color: #242424;
}

/*****************************
          INDEX
*****************************/

body.index-page {
    color: #ffffff;
    background: #000000 url("../img/bg-index.jpg") no-repeat center top;
}

.index-logo {
    width: 368px;
    height: 204px;
    margin: 0 auto 30px;
}

.index-logo img {
    width: 368px;
    height: 204px;
}

.index-promo {
    margin-bottom: 85px;
}

.promo-item {
    float: left;
    width: 300px;
    min-height: 175px;
    margin-right: 20px;
    text-align: center;
}

.promo-item:last-child {
    margin-right: 0;
}

.promo-title {
    font-size: 30px;
    line-height: 42px;
    position: relative;
    display: block;
    margin-bottom: 35px;
    padding-bottom: 40px;
}

.promo-title::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    content: "";
    transform: translateX(-50%) rotate(45deg);
    background-color: #ffffff;
}

.promo-item p {
    margin: 10px;
    margin-bottom: 0;
}

.index-container {
    margin-bottom: 35px;
    padding: 55px 80px;
    color: #000000;
    background: url("../img/index-container-line.png") no-repeat center,
    #f8f5f2 url("../img/bg-index-container.png");
}

.index-container-left {
    position: relative;
    float: left;
    width: 380px;
    min-height: 340px;
}

.index-container-right {
    position: relative;
    float: right;
    width: 300px;
    min-height: 340px;
}

.index-container h2 {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 30px;
}

.index-container p {
    margin: 0;
    margin-bottom: 30px;
}

.index-container-news {
    margin: 0;
    padding: 0;
    padding-right: 80px;
    list-style: none;
}

.index-container-news li {
    margin-bottom: 30px;
}

.index-container-news li p {
    margin-bottom: 5px;
}

.index-container time {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-transform: none;
}

.index-container-gallery figure {
    height: 164px;
    margin: 0;
    margin-bottom: 35px;
    border: 7px solid #ffffff;
    background-color: #e5e5e5;
}

.index-container-gallery img {
    width: 286px;
    height: 164px;
}

.index-container-gallery .btn {
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}

.index-container-gallery .btn-prev {
    left: 0;
}

.index-container-gallery .btn-next {
    right: 0;
}

.index-container-form input {
    font: inherit;
    float: left;
    width: 106px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 7px 15px;
    text-transform: inherit;
    color: inherit;
    border: 2px solid #000000;
    outline: none;
    background-color: #f9f6f3;
}
.index-container-form input:nth-child(even) {
    margin-right: 0;
}
.index-container-form input:focus {
    border-color: #663d15;
}

.index-container-form .btn {
    clear: both;
    width: 100%;
}

.index-page .main-footer {
    background: #232323 url("../img/bg-footer.png");
}

/*****************************
          PAGE
*****************************/

.page-header {
    min-height: 70px;
    margin-bottom: 55px;
}

.page-header .page-title {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 20px;
}

.page h1 {
    font-size: 30px;
    line-height: 42px;
    margin: 50px 0 25px;
}

.page h2 {
    font-size: 24px;
    line-height: 32px;
    margin: 60px 0 30px;
}

.page h1 + h2,
.page h2 + h2,
.page h2 + h3 {
    margin-top: 20px;
}

.page p {
    margin: 25px 0;
}

.page table {
    border-collapse: collapse;
}

.page th,
.page td {
    padding: 10px 15px;
    border: 2px solid #000000;
    background-color: #f9f6f3;
}

.breadcrumbs {
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs li {
    font-size: 14px;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    padding-right: 28px;
    vertical-align: top;
}

.breadcrumbs li:not(:last-child)::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 8px;
    content: "";
    transform: translateY(-50%) rotate(45deg);
    background-color: #000000;
}

.breadcrumbs li:last-child {
    margin-right: 0;
    padding-right: 0;
}

.breadcrumbs a {
    text-decoration: none;
    color: #000000;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs .current {
    cursor: default;
    color: #aba9a7;
}

.btn {
    font: inherit;
    display: inline-block;
    margin-right: 18px;
    padding: 10px 35px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    text-transform: inherit;
    color: #ffffff;
    border: none;
    outline: none;
    background-color: #000000;
}

.btn:hover,
.btn:active {
    background-color: #663d15;
}

.btn:disabled,
.btn.disabled {
    cursor: default;
    opacity: 0.5;
}

.btn:disabled:hover,
.btn.disabled:hover {
    background-color: #000000;
}

.buy {
    font-size: 0;
    width: 190px;
}

.price {
    font-size: 14px;
    display: inline-block;
    width: 110px;
    padding: 10px 0;
    text-align: center;
    vertical-align: top;
    background-color: #e5e5e5;
}

.buy .btn {
    font-size: 14px;
    width: 80px;
    margin: 0;
    padding: 10px 0;
}

/*****************************
          ITEM
*****************************/

.item-content-left {
    float: left;
    width: 460px;
    min-height: 670px;
}

.item-gallery {
    font-size: 0;
    margin: 0;
    padding: 0;
}

.item-gallery img {
    display: inline-block;
    margin: 0;
    cursor: pointer;
    transition: 0.1s;
    vertical-align: top;
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.item-gallery img:hover {
    box-shadow: 3px 3px 25px rgba(0, 1, 1, 0.3);
}

.big-image {
    margin-bottom: 20px;
}

.small-images {
    font-size: 0;
}

.small-images img {
    display: inline-block;
    width: 140px;
    height: auto;
    margin-top: 10px;
    margin-right: 20px;
}

.small-images img:nth-child(3n) {
    margin-right: 0;
}

.item-content-right {
    float: right;
    width: 390px;
}

.item-description {
    margin-bottom: 65px;
    padding-top: 20px;
}

.item-extra {
    margin-bottom: 30px;
}

.item-extra > * {
    font-style: normal;
    display: block;
    max-width: 50%;
}

.item-availability {
    float: left;
}

.item-vendor-code {
    float: right;
    color: #aeaeae;
}

.item-description p {
    margin-bottom: 30px;
}

.item-inbox h2 {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 30px;
}

.item-inbox ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.item-inbox li {
    position: relative;
    padding-left: 20px;
}

.item-inbox li::before {
    position: absolute;
    top: 50%;
    left: 1px;
    width: 8px;
    height: 8px;
    content: "";
    transform: translateY(-50%) rotate(45deg);
    background-color: #000000;
}

.item-page .main-footer {
    margin-top: 50px;
}

/*****************************
          SHOP
*****************************/

.shop-filters {
    float: left;
    width: 220px;
    min-height: 575px;
}

.shop-filters fieldset {
    margin: 0;
    margin-bottom: 55px;
    padding: 0;
    border: none;
}

.shop-filters legend {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
}

.shop-filters input {
    display: none;
}

.shop-filters label {
    line-height: 18px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding-left: 45px;
}

.shop-filters input + label:hover {
    cursor: pointer;
    color: #663d15;
}

.shop-filters input + label::selection {
    background-color: transparent;
}

.checkbox-box {
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    border: 2px solid #000000;
    background-color: #f9f6f3;
}

.checkbox-box::before,
.checkbox-box::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 16px;
    height: 2px;
    content: "";
    background-color: #000000;
}

.checkbox-box::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.checkbox-box::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

input[type="checkbox"]:checked + .checkbox-box::before,
input[type="checkbox"]:checked + .checkbox-box::after {
    display: block;
}

input[type="checkbox"]:disabled ~ span,
input[type="checkbox"][readonly] ~ span {
    cursor: default;
    pointer-events: none;
    opacity: 0.3;
}
input[type="checkbox"] ~ span:hover {
    cursor: pointer;
    color: #663d15;
}

input[type="checkbox"] ~ span::selection {
    background-color: transparent;
}

input[type="radio"] + label::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    content: "";
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: #f9f6f3;
}

input[type="radio"]:checked + label::before {
    width: 8px;
    height: 8px;
    padding: 4px;
    background-color: #000000;
    background-image: linear-gradient(#000000, #000000), linear-gradient(#f9f6f3, #f9f6f3);
    background-clip: content-box, padding-box;
}

input[type="radio"]:disabled + label,
input[type="radio"][readonly] + label {
    cursor: default;
    pointer-events: none;
    opacity: 0.3;
}

.shop-items,
.shop-pagination {
    font-size: 0;
    float: right;
    width: 700px;
    margin-bottom: 25px;
}

.shop-item {
    font-size: 14px;
    display: inline-block;
    width: 220px;
    min-height: 290px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.1s;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.shop-item:hover {
    box-shadow: 3px 3px 25px rgba(0, 1, 1, 0.3);
}

.shop-item:nth-child(3n) {
    margin-right: 0;
}

.item-photo {
    display: block;
    width: 220px;
    height: 165px;
    margin-bottom: 15px;
    text-decoration: none;
}

.item-photo img {
    width: 220px;
    height: 165px;
}

.item-title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
    padding-left: 15px;
}

.item-title a {
    text-decoration: none;
    color: #000000;
}

.item-type,
.item-name {
    display: block;
}

.item-type {
    text-transform: none;
}

.shop-item .buy {
    margin: 0 15px;
}

.shop-pagination {
    margin-bottom: 25px;
}

.shop-pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.shop-pagination li {
    font-size: 14px;
    display: inline-block;
    margin-right: 7px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}

.shop-pagination li:last-child {
    margin-right: 0;
}

.shop-pagination a {
    line-height: 15px;
    display: block;
    width: 45px;
    height: 15px;
    padding: 15px 0;
    text-decoration: none;
    color: #ffffff;
}

.shop-pagination .current {
    cursor: default;
    color: #000000;
    background-color: #ffffff;
}

.shop-pagination span {
    line-height: 15px;
    display: block;
    width: 45px;
    height: 15px;
    padding: 15px 0;
    color: #000000;
}

.shop-pagination a:hover {
    background-color: #663d15;
}

.shop-page .main-footer {
    margin-top: 25px;
}

/*****************************
          PRICE-LIST
*****************************/

.big-title {
    position: relative;
    min-height: 45px;
    margin-bottom: 70px;
    text-align: center;
}

.big-title b {
    font-size: 48px;
    line-height: 48px;
    display: inline-block;
    margin: 0;
    padding: 0 25px;
    background: #f8f5f2 url("../img/bg-index-container.png");
}

.big-title::before {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
    left: 0;
    height: 2px;
    margin-top: -1px;
    content: "";
    background-color: #000000;
}

.page-row {
    min-height: 155px;
    margin-bottom: 60px;
}

.page-row-left,
.page-row-right {
    width: 460px;
}

.page-row-left > *:first-child,
.page-row-right > *:first-child {
    margin-top: 0;
}

.page-row-left > *:last-child,
.page-row-right > *:last-child {
    margin-bottom: 0;
}

.page-row-left {
    float: left;
}

.page-row-right {
    float: right;
}

.page-row p,
.page-row h2 {
    padding-right: 75px;
}

.vendor-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.vendor-list li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 20px;
}

.vendor-list li:last-child {
    margin-bottom: 0;
}

.vendor-list li::before {
    position: absolute;
    top: 50%;
    left: 1px;
    width: 8px;
    height: 8px;
    content: "";
    transform: translateY(-50%) rotate(45deg);
    background-color: #000000;
}

.page-row table {
    width: 100%;
}

.page-row th,
.page-row td {
    width: 50%;
}

.page-row th {
    text-align: left;
}

.page-row td {
    text-align: center;
}

/*****************************
          FOOTER
*****************************/

.main-footer {
    margin-top: 65px;
    padding: 60px 0 40px;
    color: #ffffff;
    background: url("../img/footer-shadow.png") repeat-x,
    #232323 url("../img/bg-footer.png");
}

.main-footer p {
    margin: 0;
    margin-bottom: 15px;
}

.footer-contacts {
    float: left;
    width: 320px;
    min-height: 90px;
    margin-right: 60px;
}

.footer-contacts a {
    color: #ffffff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 180px;
    min-height: 90px;
    text-align: center;
}

.social-btn {
    font-size: 0;
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    transition: background-position 0.15s linear,
    background-color 0.15s linear;
    vertical-align: top;
    text-decoration: none;
    background: #000000 url("../img/sprites/spritesheet.png") no-repeat center;
}

.social-btn:hover {
    background-color: #ffffff;
}

.social-btn-vk {
    background-position: -42px -1106px;
}

.social-btn-vk:hover {
    background-position: -42px -1222px;
}

.social-btn-facebook {
    background-position: -35px -623px;
}

.social-btn-facebook:hover {
    background-position: -35px -745px;
}

.social-btn-instagram {
    background-position: -39px -867px;
}

.social-btn-instagram:hover {
    background-position: -39px -988px;
}

.footer-copyrights {
    float: right;
    max-width: 160px;
    min-height: 90px;
    text-align: center;
}

.footer-copyrights .btn {
    margin: 0;
}

/*****************************
          FRAMES
*****************************/

/* FRAME ANIMATIONS */

@keyframes bounce {
    0% {transform: translateY(-2000px);}
    70% {transform: translateY(30px);}
    90% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

@keyframes shake {
    0% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(10px);}
    20%, 40%, 60%, 80% {transform: translateX(-10px);}
    100% {transform: translateX(0);}
}

/* OVERLAY */

.overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-opened {
    display: block;
}

/* LOGIN FRAME */

.login-frame {
    position: fixed;
    z-index: 10;
    top: 120px;
    left: 50%;
    display: none;
    width: 300px;
    min-height: 285px;
    margin-left: -230px;
    padding: 50px 80px;
    color: #000000;
    background: #f8f5f2 url("../img/bg-index-container.png");
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.75);
}

.login-frame-opened {
    display: block;
    animation: bounce .5s;
}

.login-frame-error {
    animation: shake .5s;
}

.login-frame-close {
    position: absolute;
    top: 0;
    right: -45px;
    width: 45px;
    height: 40px;
    content: "";
    cursor: pointer;
    background: url("../img/icon-cross-big.svg") no-repeat center;
    background-size: 26px;
}

.login-frame h2 {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 20px;
}

.login-frame input[type="text"],
.login-frame input[type="password"] {
    font: inherit;
    display: block;
    width: 240px;
    margin-bottom: 10px;
    padding: 10px 15px;
    padding-right: 40px;
    text-transform: inherit;
    color: inherit;
    border: 2px solid #000000;
    outline: none;
    background-color: #f9f6f3;
}

.login-frame input:focus,
.login-frame input:focus {
    border-color: #663d15;
}

.login-frame input.icon-user {
    background-image: url("../img/sprites/spritesheet.png");
    background-repeat: no-repeat;
    background-position: 218px -503px;
}

.login-frame input.icon-password {
    background-image: url("../img/sprites/spritesheet.png");
    background-repeat: no-repeat;
    background-position: 218px -272px;
}

.login-frame label {
    position: relative;
    display: block;
    float: left;
    margin-bottom: 10px;
    padding-left: 30px;
}

.login-frame label:hover {
    cursor: pointer;
    color: #663d15;
}

.login-frame label::selection {
    background-color: transparent;
}

.login-frame input[type="checkbox"] {
    display: none;
}

.login-frame a {
    display: block;
    float: right;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000000;
}

.login-frame a:hover {
    text-decoration: underline;
}

.login-frame .btn {
    width: 100%;
}

/* MAP FRAME */

.map-frame {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    display: none;
    box-sizing: border-box;
    width: 780px;
    height: 575px;
    margin-left: -390px;
    margin-top: -285px;
    border: 7px solid #ffffff;
    background: #e5e5e5 url("../img/map.jpg") no-repeat center;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.75);
}

.map-frame-opened {
    display: block;
    animation: bounce .5s;
}

.map-frame-close {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 45px;
    height: 35px;
    margin-right: -45px;
    content: "";
    cursor: pointer;
    background: url("../img/icon-cross-big.svg") no-repeat center;
    background-size: 26px;
}

/*****************************
          РАЗМЕТКА
*****************************/

/*

body > * {
    background-color: rgba(255, 99, 71, 0.3);
    box-shadow: inset 0 0 0 2px rgb(255, 99, 71);
}

body > * > * {
    background-color: rgba(115, 255, 121, 0.3);
    box-shadow: inset 0 0 0 2px rgb(115, 255, 121);
}

body > * > * > * {
    background-color: rgba(165, 180, 255, 0.3);
    box-shadow: inset 0 0 0 2px rgb(165, 180, 255);
}

*/
